*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background: #1f2235;
  z-index: 1;
}

.navbar_container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.navbar_left-logo img {
  width: 110px;
}

.navbar_right {
  display: flex;
  list-style-type: none;
}

.navbar_right li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;

}

/* Helpers */
.container {
  width: 1200px;
  margin: 0 auto;
}

.bgMain {
  background-color: #1f2235;
}

/* Grid System */
.row  {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.col-4{
  width: 33.33%;
}

/* header */
.header_content {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.header_ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}

.header_ul li {
  width: 50px;
  height: 50px;
  border: 2px solid #ff4a57;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.header_ul li:first-child {
  margin-left: 10px;
}

.header_section h1 {
  font-family: 'Play', sans-serif;
  font-size: 57px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header_section p {
  font-family: 'Play', sans-serif;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 40px;
}

.btn {
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
}

.btn-outline {
  border: 2px solid #ff4a57;
  border-radius: 50px;
  padding: 13px 40px;
}

.banner_img {
  padding: 0 30px;
  margin-top: 150px;
}

/* Services */
.services {
  background: #1f2235;
  padding: 100px 0;
  color: #fff;
}

.common {
  width: 33.33%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}

.main_header {
  font-size: 32px;
  margin-bottom: 20px;
}

.main_content {
  font-size: 16px;
  color: #dfdfdf;
}

.service_box {
  padding: 40px;
  background-color: #23253a;
  color: #fff;
  margin: 20px;
}

.commonIcons {
  font-size: 40px;
  color: #ff4a57;
  margin-bottom: 15px;
}

.service_box-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.service_box-content {
  font-size: 14px;
  color: #dfdfdf;
}
